@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: "Poppins";
}
body{
  background-color: gainsboro;
}
.main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.box{
  border: 2px solid black;
  border-radius: 25px;
  padding: 2em;
  background-color: white;
}

.introvert{
  color: #57b2a3;
}
.extrovert{
  color: #ec723a;
}

.ambivert{
  color: #C19A6B;
}


.btn{
  border: 2px solid;
  background-color: #CBC3E3;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: wheat;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid;
  margin: auto;
}

.form-check{
  font-size: large;
  border: 1px solid;
  border-radius: 25px;
  padding: 1em; 
  
}

.form-check-input{
  display: none;
}

.form-check:has(.form-check-input:checked){
  background-color: #CBC3E3;
  
}